# Uncomment out the 6 lines below if using the Amazon VPC CNI
# module "amazon_vpc_cni" {
#   source = "./amazon_vpc_cni"
# }
# variable "cni" {
#   default = "amazon-vpc"
# }

# Uncomment out the 3 lines below to create VPC Endpoints for S3 and ECR
# module "vpc_endpoints" {
#   source = "./vpc_endpoints"
# }